extends layouts/layout

block vars
	- var title = 'Teste Escale'
	- var keywords = 'Desenvolvedor Front-end, Desenvolvedor Full Stack, Sites, Sites Responsivos, WordPress, Mobile First'
	- var description = 'Desenvolvedor especializado em sites, sites responsivos, sistemas MVC, CodeIgniter, WordPress e Mobile First'

	div.container
		.grid-12
			p Filtrar por Linguagem: 
			select(id='filter-language')
				option(value='JavaScript') JavaScript
				option(value='Ruby') Ruby
				option(value='Dart') Dart
				option(value='CoffeeScript') CoffeeScript
				option(value='CSS') CSS
				option(value='Shell') Shell
				option(value='HTML') HTML
				option(value='Python') Python
				option(value='PHP') PHP
				option(value='Null') Null

	div.container#gerar

block content