doctype
html(lang='pt-BR')
	block vars
	head
		meta(charset='UTF-8')
		meta(name='viewport',content='width=device-width, initial-scale=1')
		meta(name='theme-color',content='#242424') 
		meta(name='description',content=description)
		meta(name='keywords',content=keywords)
		title #{title} | André Romário
	body
		include ../includes/header.pug

		block content
		include ../includes/footer.pug
		script(src='js/main.min.js')

link(href='css/main.min.css',rel='stylesheet')